{% extends 'base.html' %}

{% block title%}Add Feedback{% endblock %}

{% block content %}

<h1 class="display-1">Add Feedback</h1>
<p class="lead">Post your feedback!</p>

<form method="POST">

    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' %}
    <div class="form-group">
    {{ field.label }}
    {{ field(class_="form-control") }}
        
    {% if field.errors %}
        {% for error in field.errors %}
        <span class="form-text text-danger">{{ error }}</span>
        {% endfor %}
    {% endif %}
    </div>
    {% endfor %}

    <button class="btn btn-success">Submit</button> <a href="/users/{{user.username}}" class="btn btn-outline-warning">Cancel</a>

</form>

{% endblock %}