{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %}

<h1 class="display-1">Sign Up</h1>
<p class="lead">Register below to join our application!</p>

<form method="POST">

    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' %}
    <div class="form-group">
    {{ field.label }}
    {{ field(class_="form-control") }}
        
    {% if field.errors %}
        {% for error in field.errors %}
        <span class="form-text text-danger">{{ error }}</span>
        {% endfor %}
    {% endif %}
    </div>
    {% endfor %}

    <p>Already has an account? <a href="/login">Login</a></p>

    <button class="btn btn-success">Register</button>

</form>
{% endblock %}